# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

compression/
general2/
Jstar/
minWinnowing/
wiki_access/
util/word_size
util/*.err
util/*.out

general/*.txt
general/*.xlsx
*.txt
*.xlsx
*.exe